<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boot.infopass.mapper.GameRoomPlayerMapper">
    <insert id="insertPlayer" parameterType="GameRoomPlayerDto"> insert into
        game_room_player(room_id, user_id, nickname, ready, joined_at) values (#{roomId}, #{userId},
        #{nickname}, #{ready}, NOW()) </insert>
    <select id="selectPlayersByRoom" resultType="boot.infopass.dto.GameRoomPlayerDto"> select id,
        room_id as roomId, user_id as userId, nickname, ready, joined_at as joinedAt from
        game_room_player where room_id=#{roomId} </select>
    <update id="updatePlayerReady"> update game_room_player set ready=#{ready} where id=#{playerId} </update>
    <delete id="deletePlayer" parameterType="Long"> delete from game_room_player where
        Id=#{playerId} </delete>
    <select id="existsByRoomIdAndUserId" resultType="boolean"> select count(*) > 0 from
        game_room_player where room_id = #{roomId} and user_id = #{userId} </select>
    <select id="selectPlayerById" resultType="boot.infopass.dto.GameRoomPlayerDto"> SELECT id,
        room_id as roomId, user_id as userId, nickname, ready, joined_at as joinedAt FROM
        game_room_player WHERE id = #{playerId} </select>
</mapper>