<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boot.infopass.mapper.RankMapper">

    <select id="getUserRankingsByIds" resultType="boot.infopass.dto.RankedUserDto"> select u.id as
        userId, u.username, u.profile_image AS profileImage, coalesce(r.total_score, 0) as
        totalScore from user u left join multiplayer_rank r on u.id =r.user_id where u.id in <foreach
            item="id" collection="ids" open="(" separator="," close=")"> #{id} </foreach>
    </select>
</mapper>